<header class="header">
  <div class="container container--header">
    <div class="header__wrapper">

      <img class="header__logo" src="img/logo.svg" alt="R- logo of company" width="65" height="65">

      <ul class="menu">
        <div class="menu__item">
          <a class="menu__link" href="#">About</a>
        </div>

        <div class="menu__item">
          <a class="menu__link" href="#">Pricing</a>
        </div>

        <div class="menu__item">
          <a class="menu__link" href="#">Features</a>
        </div>
      </ul>

      <button class="header__btn">Get Started</button>
    </div>
  </div>
</header>
