<section class="section">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="title title--main">
          Reset two days a week.
          Lose weight for good.
        </h1>
        <p class="description">
          How much weight could you lose for good? Members eat freely five days a week - no rules
          or food logging.
        </p>
        <span class="btn-title">
          Take the quiz for
        </span>
        <div class="btns">
          <button class="btn btn--fill btn--fill-purple">MALE</button>
          <button class="btn btn--fill btn--fill-pink">FEMALE</button>
        </div>
      </div>
      <div class="hero__img">

      </div>
    </div>
  </div>
</section>
