// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Poppins", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --primary-color: #0E0D4C;
  --accent-color: #6957ED;
  --text-color: #5B6996;
  --pink-color: #FF3B63;
  --purple-color: #6957ED;
}
